{% extends'base.html.twig' %}
{% block title %}Palindrome
{% endblock %}
{% block body %}

	{% block header %}
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Palindrome</a>
			</div>

			<div>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{path('Home')}}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="{{path('Palindrome')}}">Palindrome</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

{% endblock %}
<h1 id="main_title">Palindrome</h1>

<div class="container">
	<h2>Palindrome</h2>
		<form method="get" action="{{path('Palindrome')}}">
			<div class='form-floating mb-3 row g-3'>
				<input type="text" name="text" class="input form-control" placeholder="Text" id="component-name" autocomplete="off">
				
			</div>
		</form>
		{% if text %}
			<div class="card text-start">
				<div class="card-body">
					<p class="card-text">
						{{text}}
						is
						{{msg}}
					</p>
				</div>
			</div>
		{% endif %}
</div>



{% endblock %}